<div class="container mx-auto max-w-3xl p-2 pt-10 md:pt-28">
  <div class="flex gap-2">
    <%= render Users::AvatarComponent.new %>
    <span class="my-auto">higakijin</span>
    <%= link_to "Create", new_post_path, class: "btn btn-neutral btn-sm ml-auto" %>
  </div>
</div>

<div class="container mx-auto max-w-3xl pt-10">
  <div class="grid md:grid-cols-3 gap-4">
    <% @posts.each do |post| %>
      <%= render Posts::CardComponent.new %>
    <% end %>
  </div>
</div>
