<%= render Core::NavbarComponent.new %>

<div class="container mx-auto max-w-3xl">
  <div class="grid md:grid-cols-3 gap-4">
    <%= render Posts::CardComponent.new %>
    <%= render Posts::CardComponent.new %>
    <%= render Posts::CardComponent.new %>
  </div>
</div>
