<%= link_to "#", class: "" do %>
  <div class="card bg-base-100 shadow-sm">
    <figure class="bg-white rounded-lg h-32">
      <span class="text-4xl">😀</span>
    </figure>
    <div class="card-body p-4">
      <h2 class="font-bold">Hello</h2>
    </div>
  </div>
<% end %>
